sw/Debug

sw/left_0_5
sw/right_0_6

sw/left_1_0
sw/right_1_0

sw/left_1_1
sw/right_1_1

sw/left_3_1
sw/right_3_1

sw/keypad.axf
sw/keypad.bin
sw/keypad.hex
sw/keypad_r.axf
sw/keypad_r.bin
sw/keypad_r.hex
sw/keypad_l.axf
sw/keypad_l.bin
sw/keypad_l.hex
